<section class="row">
  <div class="row">
    <div class="col s8 center-align">
      <h1>Bienvenido a Mall-E</h1>
      <h4>Plataforma en la cual usted puede vender todo tipo de articulo ya sea nuevo o usado que deseé,
         de igual manera puede promocionar algun servicio que usted realice y asi generar muchas ganancias.</h4>
    </div>
    <div class="col s4">
      <img class="responsive-img" src="../assets/img/cash.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col s4 push-s4 center-align">
      <h5>¿Como empezar?</h5>
      <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-4"><i class="material-icons">arrow_drop_down</i></a>
    </div>
  </div>
</section>
